@font-face {
    font-family: 'Vazirmatn RD';
    src: url('/fonts/Vazir/Vazirmatn-RD[wght].woff2') format('woff2 supports variations'),
    url('/fonts/Vazir/Vazirmatn-RD[wght].woff2') format('woff2-variations');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}
.vazir-rb {
    font-family: 'Vazirmatn RD';
}
body{
    direction: rtl;
}
.page-one{
    background-color: #f9fafd;
}
.center {
    margin-right: 80px;
    left: 50%;
    top: 50%;
    margin-top:20%;
}
.center-login {
    margin-top:15vh;
    width: 360px;
    margin-left: 140px
}
.center-register {
    width: 360px;
    margin-left: 140px
}
.center-verify {
    margin-top:30vh;
    width: 360px;
    margin-left: 140px
}
.decoration-none {
    text-decoration: none;
    color: gray;
    font-weight: bold;
}
.back-to-site {
    font-size: .85rem;
    color: #37474f;
}
.back-to-site:hover {
    color: green;
    cursor: pointer;
}
.mb-1r {
    margin-bottom: 1rem;
}

.send-code-btn {
    height: 2.75rem;
    font-size: 1rem;
    width: 100%;
    margin-top: 1rem;
}
.send-code-btn {
    background-color: #0ea960;
    border-color: #0ea960;
    color: #fff;
}
.send-code-btn:hover {
    color: white;
    background-color: #069a54;
}
.send-code-btn.disabled {
    pointer-events: none;
    background-color: #f6f7fa !important;
    border-color: #f9fafd!important;
    color: #787a83 !important;
}
.are-you-developer {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid rgba(26, 26, 26, 0.19);
    line-height: 0.1em;
    opacity: .8;
    margin: 2rem 0;
}

.are-you-developer span {
    background:#fff;
    padding:0 10px;
    opacity: .8;
    font-size: .85rem;
}
.register-link-botton {
    height: 2.75rem;

    border-color: #e5e7f0;
    color: #2a2a2a;
    width: 100%;
}
.bg-light-gray {
    background-color: #f9fafd;
}
.h-100vh {
    height: 100vh;
}
.back-to-site-header {
    height: 56px;
    line-height: 3.5rem;
}
.fa-solid.fa-angle-right {
    font-size: 8px
}
.fa-solid.fa-angle-right span {
    font-weight: 600;
    margin-right: 10px;
    opacity: .85
}
.opacity-7 {
    opacity: .6;

}
.code-input::placeholder {
    opacity: .7;
}
.link-none {
    text-decoration: none;
    color: black;
}
.link-none:hover {
    color: black;
}
.login-to-bazar {
    font-size: 2.125rem;
    font-weight: 400;
    line-height: 1.2;
}
.auth-input {
    margin-top: 2rem;
    border-color: rgba(0,0,0,0.06);
    height: 2.75rem
}
.mt-10p {
    margin-top: 10%
}

#loader{
    animation-fill-mode: forwards;
    background-color: rgb(255, 255, 255);
    z-index: 10000;
    width: 100%;
    height: 100%;
    position: fixed;
    text-align: center;
    display: block;
}
.lds-ellipsis {
    margin-top: 40vh;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #0ea960;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}

.dir-auto:-moz-placeholder {
    text-align: right;
}
.dir-auto:-ms-input-placeholder {
    text-align: right;
}
.dir-auto::-webkit-input-placeholder {
    text-align: right;
}

.dir-auto{
    direction: rtl;
}

.dir-auto:focus{
    text-align: left;
    direction: ltr;
}
