@font-face {
    font-family: 'Vazirmatn RD';
    src: url('/fonts/Vazir/Vazirmatn-RD[wght].woff2') format('woff2 supports variations'),
    url('/fonts/Vazir/Vazirmatn-RD[wght].woff2') format('woff2-variations');
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}
.vazir-rb {
    font-family: 'Vazirmatn RD';
}
body{
    direction: rtl;
    text-align: right;

}
@media(min-width: 640px) {
    .body-bg{
        background-color: #f9fafd;
    }
}
@media (min-width:1440px)
{
    .container{
        max-width: 1360px;
    }
}

.more{
    color: black;
    cursor: pointer;
}
.more:hover {
    color: green !important;
}

.owl-carousel{
    direction: ltr;
}
.category-list{
    background-color: #f9fafd;
}
.category-list {
    text-align:center;
    border-radius: 3px;
    border: 1px solid #f0f0f0;
}
.category-list:hover {
    box-shadow: 0 0 6px rgb(101, 90, 90);
}
.footer{
    background-color: #fefefe;
}
.page-one{
    background-color: #f9fafd;
}
.center {
    margin-right: 80px;
    left: 50%;
    top: 50%;
    margin-top:20%;
}
.center-login {
    margin-top:15vh;
    width: 360px;
    margin-left: 140px
}
.center-register {
    width: 360px;
    margin-left: 140px
}
.center-verify {
    margin-top:30vh;
    width: 360px;
    margin-left: 140px
}
.decoration-none {
    text-decoration: none;
    color: gray;
    font-weight: bold;
}
.back-to-site {
    font-size: .85rem;
    color: #37474f;
}
.back-to-site:hover {
    color: #0ea960;
    cursor: pointer;
}
.footer__link:hover {
    color: #0ea960;
}
.mb-1r {
    margin-bottom: 1rem;
}

.send-code-btn {
    height: 2.75rem;
    font-size: 1rem;
    width: 100%;
    margin-top: 1rem;
}
.send-code-btn {
    background-color: #0ea960;
    border-color: #0ea960;
    color: #fff;
}
.send-code-btn:hover {
    color: white;
    background-color: #069a54;
}
.send-code-btn.disabled {
    pointer-events: none;
    background-color: #f6f7fa !important;
    border-color: #f9fafd!important;
    color: #787a83 !important;
}
.are-you-developer {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid rgba(26, 26, 26, 0.19);
    line-height: 0.1em;
    opacity: .8;
    margin: 2rem 0;
}

.are-you-developer span {
    background:#fff;
    padding:0 10px;
    opacity: .8;
    font-size: .85rem;
}
.register-link-botton {
    height: 2.75rem;

    border-color: #e5e7f0;
    color: #2a2a2a;
    width: 100%;
}
.bg-light-gray {
    background-color: #f9fafd;
}
.h-100vh {
    height: 100vh;
}
.back-to-site-header {
    height: 56px;
    line-height: 3.5rem;
}
.fa-solid.fa-angle-right {
    font-size: 8px
}
.fa-solid.fa-angle-right span {
    font-weight: 600;
    margin-right: 10px;
    opacity: .85
}
.opacity-7 {
    opacity: .6;

}
.code-input::placeholder {
    opacity: .7;
}
.link-none {
    text-decoration: none;
    color: black;
}
.link-none:hover {
    color: black;
}
.login-to-bazar {
    font-size: 2.125rem;
    font-weight: 400;
    line-height: 1.2;
}
.auth-input {
    margin-top: 2rem;
    border-color: rgba(0,0,0,0.06);
    height: 2.75rem
}
.mt-10p {
    margin-top: 10%
}

#loader{
    animation-fill-mode: forwards;
    background-color: rgb(255, 255, 255);
    z-index: 10000;
    width: 100%;
    height: 100%;
    position: fixed;
    text-align: center;
    display: block;
}
.lds-ellipsis {
    margin-top: 40vh;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: #0ea960;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes lds-ellipsis3 {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}
@keyframes lds-ellipsis2 {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(24px, 0);
    }
}

.dir-auto:-moz-placeholder {
    text-align: right;
}
.dir-auto:-ms-input-placeholder {
    text-align: right;
}
.dir-auto::-webkit-input-placeholder {
    text-align: right;
}

.dir-auto{
    direction: rtl;
}

.dir-auto:focus{
    text-align: left;
    direction: ltr;
}

.button-48-gray {
    appearance: none;
    background-color: #FFFFFF;
    display: inline-block;
    position: relative;
    text-rendering: geometricprecision;
    transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1), background-color 100ms cubic-bezier(.694, 0, 0.335, 1), color 100ms cubic-bezier(.694, 0, 0.335, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    height: 38px;
    color: #0d6efd;
    border: 1px solid #0d6efd;
}


.button-48-gray:before {
    border-radius: 0.25rem;
    animation: opacityFallbackOut .5s step-end forwards;
    backface-visibility: hidden;
    background-color: #0d6efd;
    clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
    content: "";
    height: 38px;
    left: -1px;
    position: absolute;
    top: -1px;
    transform: translateZ(0);
    transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
    width: 360px;
}

.button-48-gray:hover:before {
    animation: opacityFallbackIn 0s step-start forwards;
    clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.button-48-gray:after {
    background-color: #0d6efd;
}

.button-48-gray span {
    z-index: 1;
    position: relative;
}
.button-48-gray:hover {
    color: white;
}
.button-48-primary {
    appearance: none;
    background-color: #FFFFFF;
    display: inline-block;
    position: relative;
    text-rendering: geometricprecision;
    transition: opacity 300ms cubic-bezier(.694, 0, 0.335, 1), background-color 100ms cubic-bezier(.694, 0, 0.335, 1), color 100ms cubic-bezier(.694, 0, 0.335, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: baseline;
    height: 38px;
}

.button-48-primary:before {
    border-radius: 0.25rem;
    animation: opacityFallbackOut .5s step-end forwards;
    backface-visibility: hidden;
    background-color: #888282;
    clip-path: polygon(-1% 0, 0 0, -25% 100%, -1% 100%);
    content: "";
    height: 38px;
    left: -1px;
    position: absolute;
    top: -1.5px;
    transform: translateZ(0);
    transition: clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1), -webkit-clip-path .5s cubic-bezier(.165, 0.84, 0.44, 1);
    width: 360px;
}

.button-48-primary:hover:before {
    animation: opacityFallbackIn 0s step-start forwards;
    clip-path: polygon(0 0, 101% 0, 101% 101%, 0 101%);
}

.button-48-primary:after {
    background-color: #FFFFFF;
}

.button-48-primary span {
    z-index: 1;
    position: relative;
}
.button-48-primary:hover {
    color: white;
}
.button-48-primary:focus {
    box-shadow: 0 0 0 0.25rem rgba(105, 101, 101, 0.28);
}
.nav-dropdown {
    border: none;
    border-radius: 8px;
    position: absolute;
    font-size: 1rem;
    padding: 8px;
    min-width: 200px;
    max-width: 320px;
    background: #fff;
    box-shadow: 0 4px 24px rgb(0 0 0 / 10%);
}

@media(max-width: 1400px){
    .more-nav-block {
        display: block;
    }
    .more-nav-none {
        display: none;
    }
}
@media(min-width: 1400px){
    .more-nav-block {
        display: none;
    }
    .more-nav-none {
        display: block;
    }
}
@media(max-width: 1000px) {
    .nav-lg {
        display: none;
    }
    .nav-sm {
        display: block;

    }
    .container {
        margin-left: 0;
        margin-right: 0;
    }
    .navbar-nav {
        padding-right: 0;
    }
}
@media(min-width: 1000px) {
    .nav-lg {
        display: block;
    }
    .nav-sm {
        display: none;
    }
}

.nav-link {
    color: #6b6b6b;
    font-weight: 500;
}
.nav-link:hover {
    color: inherit;
}
.nav-sm .nav-link {
    padding-top: 0;
}

.sm-nav-item a {
    font-weight: 400;

}
.newinput[data-has-icon] {
    padding-right: 2rem;
}
.newinput[data-size=sm] {
    height: 2.25rem;
    font-size: .875rem;
}
.newinput[data-color=background] {
    background-color: #f5f6f8;
    border-radius: 0.5rem;
}
.SearchInput {
    width: 100%;
    min-width: 220px;
    max-width: 100%;
}
.newinput {

    white-space: nowrap;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0 1rem;
    border: 1px solid #f0f0f0;
    position: relative;
    caret-color: #0ea960;
    outline: none!important;
}
.newinput:hover, .newinput:focus {
    background-color: #fff;
    border: solid 1px rgba(0, 0, 0, 0.17);
}



button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.newinput[data-has-icon][data-size=sm]+* {
    margin: -1.125rem 0.5rem 0;
}
.newinput[data-has-icon]+* {
    pointer-events: none;
    position: absolute;
    transform: translateY(-50%);
    color: #8a8a8a;
    fill: #8a8a8a;
    font-size: 12px;
}
svg {
    overflow: hidden;
}
img, svg,  i.fa-magnifying-glass{
    vertical-align: middle;
}
.fa-user {
    opacity: .8;
    font-size: 17px;
}
.newbtn[data-color=primary] {
    background-color: #0ea960;
    border-color: #0ea960;
    color: #fff;
}
.newbtn[data-size=sm] {
    height: 2.25rem;
    font-size: .875rem;
}
.DownloadButton {
    min-width: auto;
    color: white;
}
.newbtn {
    border-radius: 4px;
    white-space: nowrap;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 0 1rem;
    border: 1px solid transparent;
    font-weight: 400;
}
.points-menu {
    padding-bottom: 5px;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}
.icon-button {
    border-radius: 8px;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 0;
    width: 36px;
    height: 36px;
}

[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}
button, select {
    text-transform: none;
}
button, input {
    overflow: visible;
}
.icon-button:focus, .icon-button:hover {
    box-shadow: inset 0 0 0 2px rgb(0 0 0 / 5%);
    outline: none;
}

.sm-nav-item {
    flex-grow: 1;
    text-align: center;
    justify-content: center;
    height: 100%;
    margin: 0;
    white-space: nowrap;
    position: relative;
    padding: 4px 16px;
    border-radius: 26px;
    color: #6b6b6b!important;
    display: flex;
    align-items: center;
}

.fs-14 {
    font-size: .875rem;
}

.ListItem.active:not([disabled]), .ListItem.focus:not([disabled]), .ListItem.hover:not([disabled]), .ListItem.link-active:not([disabled]), .ListItem:focus:not([disabled]), .ListItem:hover:not([disabled]) {
    background: #f1f2f9!important;
    outline: none;
    color: #2a2a2a;
}
.ListItem a, .ListItem a:active, .ListItem a:focus, .ListItem a:hover {
    color: inherit;
}
.nav-dropdown>:not(:last-child) {
    margin-bottom: 0.25rem;
}
.ListItem {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 8px;
    color: #2a2a2a;
    min-height: 48px;
    width: 100%;

}


.nav-dropdown.show {
    transition: all .1s ease-in-out;
    animation: fadeIn .3s;
}

@keyframes fadeIn {
    0%
    {
        opacity: 0;
        overflow: hidden;
        margin-top: -15px;
    }
    100%
     {
        opacity: 1;
        margin-top: calc(100% + 15);
    }
}
.nav-lg .nav-item {
    padding: 4px 9px;
}
.nav-sm .nav-item {
    padding: 2px 3px;
}

.navbar-nav {
    padding-inline-start: 30px;
}
.navbar
{
    background-color: #fff;
    text-align: right;
}
.nav-lg nav {
    box-shadow: 0 2px 12px rgb(0 0 0 / 10%);

}
.nav-sm nav {
    border-bottom: solid 1px rgba(0, 0, 0, .1);
    padding-bottom: 0;

}
.navbar-brand {
    height: 52px;
    margin-right: -2.5px;
}

.custom-card {
    border: 1px solid rgba(0,0,0,.1);
    width: 95%;
    border-radius: .5rem;
}
.card{
    padding: 0;
}

.card-body {
    padding: 12px 16px;
}
.my-card-header {
    height: 50px;
    padding: 12px 16px;
    font-size: 1rem;font-weight: 450;
}
.line {
    width: 100%;
    border-bottom: 1px solid rgba(0,0,0,.1);
}
.circle-background {
    height: 35px;
    width: 35px;
    background-color: rgba(37, 36, 36, 0.37);
    border-radius: 50%;
}
.user-auth-icon {
    position: relative;
    width: 36px;
    padding-bottom: 2px;
    padding-left: 1px;

}

.user-auth-icon img {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .1s ease;
}

.user-auth-icon:hover img, .user-auth-icon:focus img, .user-auth-icon:target img {
    opacity: 0.7;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}
.z-index-20 {
    z-index: 20;

}
.home-content {
    border-radius: 80px
}
.owl-carousel div figure {
    transition: box-shadow .4s;
    margin-top: 10px;

}

.owl-carousel:first-child > div {
    padding-right: 8px ;
    padding-left: 8px ;
}
.card-body {
    padding: 0 0;
}
.owl-carousel figure:hover {
    transition: box-shadow .1s;
    outline: none;
    box-shadow: 0 4px 24px rgb(0 0 0 / 10%);

}
.text-aria {
    max-height: 300px;
    overflow: hidden;
    height: auto !important;
    border: 1px solid #f0f0f0;
    font-size: 1rem;
    padding: 20px;
}
.text-aria-div {
    padding: 3rem;

}
@media(max-width: 640px) {
    .card {
        border: none;
        background: none;
    }
    .line {
        border: none;
        display: none;
    }
    .text-aria {
        border: 0px;
    }
    .text-aria-div {
        padding: 0;
    }
}

.SimpleAppItem {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    border-radius: 8px;
    padding: 0.5rem;
    overflow: hidden;
    box-shadow: none;
    transition: box-shadow .4s;
}
.carousel__inner-content>* {
    flex-shrink: 1;
    margin: 4px;
}


.SimpleAppItem__image {
    border-radius: 22px;
    background: #fff;
    width: 100%;
    height: 100%
}

.SimpleAppItem__text {
    padding: 8px 0 8px 4px;

    width: 90%;
    overflow: hidden;
}
.fs-14 {
    font-size: .875rem;
}
.SimpleAppItem__title {
    color: #2a2a2a;
    font-weight: 400;
    margin: 0!important;
}
.SimpleAppItem__text>* {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
}
.fs-12 {
    font-size: .75rem;
}
.SimpleAppItem__subtitle {
    display: flex;
    align-items: center;
    margin: 2px 0 0!important;
    font-weight: 400;
    color: #8a8a8a;
    justify-content: flex-start;
}
.SimpleAppItem__text>* {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: relative;
}
.fa-chevron-left {
    font-size: 11px;padding-top: 3px;
}
.page-one{
    background-color: #f9fafd;
}
.bag{
    width: 50px;
    height: 50px;
}
.product-info-box {
    background-color: #f9fafd;
    font-size: .875rem;
    font-weight: 550;
}
.custom-card {
    border-radius: 8px;
}
.product-info-box {
    background-color: #f9fafd;
    font-size: 0.875rem;
    font-weight: 550;
}

/* coment */
.product-card {
    background-color: #fff;
    padding: 14px;
    border: none;
}
/* Rating bar width */
.rating-bar {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
}
/* The bar container */
.bar-container {
    width: 100%;
    background-color: #f9fafd;
    text-align: center;
    color: white;
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 5px;
}
/* Individual bars */
.bar-5 {
    width: 70%;
    height: 10px;
    background-color: #0ea960;
    border-radius: 20px;
}
.bar-4 {
    width: 30%;
    height: 10px;
    background-color: #0ea960;
    border-radius: 20px;
}
.bar-3 {
    width: 20%;
    height: 10px;
    background-color: #0ea960;
    border-radius: 20px;
}
.bar-2 {
    width: 10%;
    height: 10px;
    background-color: #0ea960;
    border-radius: 20px;
}
.bar-1 {
    width: 0%;
    height: 10px;
    background-color: #0ea960;
    border-radius: 20px;
}
.box-rounded {
    border-radius: 8px;
}

.category-list:hover {
    box-shadow: 0 4px 24px rgb(0 0 0 / 10%);
    background-color: #fff;
}
.more {
    color: black;
    cursor: pointer;
}
.more:hover {
    color: green !important;
}



.collapse-icon {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg,rgba(249, 250, 253, 0) 70%,hsla(0, 0%, 100%, 0.7) 90%,#fff 99%);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
}

.category-list {
    padding: 1rem 0.5rem;
    margin: 4px;
    border-radius: 10px;
    background-color: #f9fafd;

}
@media only screen and (max-width: 640px) {
    .category-list {
        border: none;
        background: none;
    }
}
.footer-div-sm {
    display: none;
}
@media only screen and (max-width: 1024px) {
    .footer-div {
        display: none;
    }
    .copyright-div {
        display: none;
    }
    .footer-div-sm {
        display: flex;
        font-size: .875rem;

    }

}
.footer-1 .footer-item {
    height: 140px;
    padding: 1rem;

}
.single-cards {

    border-radius: 8px;
    padding:16px;
}

footer.footer-1  {
    padding-top: 3.5rem ;
    padding-bottom: 3.5rem ;
}
footer.footer-2 {
    padding-top: 2.5rem ;
    padding-bottom: 4.5rem ;
}
footer.footer-1 {
    height: 254px;


}
.download-buttons {
    white-space: nowrap;
    margin-top: 1rem;
}
.footer-div {
    background-color: #fefefe;
    box-shadow: 0 4px 24px rgb(0 0 0 / 10%);
    padding-right: 5rem ;
    padding-left: 5rem ;
}

.footer-text {
    margin-left: 4rem;
}
.fs-12 {
    font-size: .75rem;
}
.download-buttons a{
    background-color: #fff;
    /*border-color: #e5e7f0;*/
    color: #0ea960;
    height: 2.25rem;
    font-size: .875rem;
    border-radius: 4px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: .3rem 1rem;
    border: 1px solid #f0f0f0;
}
.footer-logos img{
    margin: 8px 2px;
}
.footer-logo {
    margin-left: 1rem;
}
.footer-links {

    flex-wrap: nowrap;
    flex-direction: row;
    line-height: 2.8;
    align-items: flex-start;
    justify-content: space-between;


}
.footer__link {
    display: block;
    text-decoration: none;
    color: black;
}
.fs-14 {
    font-size: .875rem;
}

.footer-copyright {
    background-color: white;
    display: flex;
    flex-direction: row;
    padding: 1rem 5rem;
    color: #3a3a3a;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}
.footer-copyright i {
    font-size: 24px;
    color: #616161;
    margin-left: 1.5rem;
}
.footer-copyright i:hover {
    color: black;
}

.owl-item {
    padding-left: 11px;
}
.footer-div-sm {

    height: 56px;
    width: 100%;
}
.footer-div-sm.sticky-footer {
    background-color: #fefefe;
    box-shadow: 0 4px 24px rgb(0 0 0 / 10%);
    padding-right: 5rem ;
    padding-left: 5rem ;
}
.sticky-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}
.footer-div-sm i{
    font-size: 24px;
}
.footer-div-sm div{
    padding: 4px 16px;
    text-align: center;
}
.footer-div-sm a {
    color: #58656c;
}
.footer-div-sm a:hover {
    color: #58656c;
}
.product-details {
    white-space: nowrap;
    overflow: auto;
}
@media (min-width: 992px) {
    .ms-lg-6 {
        margin-left: 6rem !important;
    }
}
/*@media (min-width: 1200px) {*/
/*    .col-lg-6 {*/
/*        flex: 0 0 auto;*/
/*        width: 100%;*/
/*    }*/
/*}*/
@media (min-width: 1400px) {
    .single-content.container-lg {
        max-width: 1300px;
    }
}

.owl-stage {
    width: 10000000px !important;
}
.rating-bar .fa-star-sharp {
    color: grey;
}
/**/
